# requirements.txt
# This file contains the dependencies required for this app to run properly. 
 
streamlit
requests
transformers
torch
spacy==3.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl

